QMenu {
    padding: 5px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
}

QMenu::indicator {
    height: 10px;
    width: 10px;
    subcontrol-position: left center;
    subcontrol-origin: padding;
    left: 5px;
}

QMenu::item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 13pt;
    border-radius: 4px;
}

QMenu::item:selected {
    background-color: @accent-color;
}


QMenu:right-arrow {
    height: 8px;
    position: relative;
    left: -8px;
}

QMenu::separator {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 1px;
    border-style: solid;
}
