QMenu {
    background-color: rgb(37, 37, 37);
    color: rgb(239, 239, 239);
    border-color: rgb(83, 83, 83);
}

QMenu::separator {
    background-color: rgb(83, 83, 83);
}

QMenu::indicator {
    image: url(@checkmark-path/checkmark-white.png);
}
