QMenu {
    background-color: rgb(224, 224, 224);
}

QMenu::separator {
    background-color: rgb(163, 163, 163);
}

QMenu::indicator {
    image: url(@checkmark-path/checkmark-black.png);
}

QMenu::item:selected {
    color: white;
}
